If:
  PathMatch: obc/.*

CompileFlags:
  CompilationDatabase: build_arm
  Remove: -fdump-ipa-cgraph

---

If:
  PathMatch: test/.*

CompileFlags:
  CompilationDatabase: build

---

If:
  PathMatch: gs/.*

CompileFlags:
  CompilationDatabase: build_gs
