# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDE files
.vscode/
.idea/
compile_commands.json
*.clangd
.cache/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.*.env
*.db

/build*

# Python
.venv/
venv/
__pycache__/
.pytest_cache/
.hypothesis/

#matlab
/matlab

*.egg-info/
*.coverage
.mypy_cache/
.ruff_cache/

# Frontend Dependencies
*node_modules
*.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend build
*dist
*dist-ssr
*.local
*.vite

.DS_Store
