aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.11.1
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
Authlib==1.6.6
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
coverage==7.13.1
cryptography==46.0.3
distlib==0.4.0
dnspython==2.8.0
dotenv==0.9.9
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.115.0
fastapi-cache2==0.2.1
fastapi-cli==0.0.20
fastapi-cloud-cli==0.10.1
fastar==0.8.0
filelock==3.20.3
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hypothesis==6.131.30
identify==2.6.16
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jplephem==2.23
loguru==0.7.3
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mirakuru==3.0.1
multidict==6.7.0
mypy==1.8.0
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==2.4.1
packaging==25.0
pendulum==3.1.0
platformdirs==4.5.1
pluggy==1.6.0
port-for==1.0.0
pre-commit==3.3.3
propcache==0.4.1
psutil==7.2.1
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2-binary==2.9.10
pyasn1==0.6.1
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.4.0
pydantic_core==2.41.5
Pygments==2.19.2
pyham_ax25==1.0.2
pyserial==3.5
pyStuffing==0.0.4
pytest==7.4.0
pytest-cov==4.1.0
pytest-postgresql==7.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.5.0
python-multipart==0.0.21
PyYAML==6.0.3
requests==2.31.0
rich==14.2.0
rich-toolkit==0.17.1
rignore==0.7.6
rsa==4.9.1
ruff==0.2.0
sentry-sdk==2.49.0
sgp4==2.25
shellingham==1.5.4
six==1.17.0
skyfield==1.48
sortedcontainers==2.4.0
SQLAlchemy==2.0.45
sqlmodel==0.0.22
starlette==0.38.6
tinyaes==1.1.1
toml==0.10.2
tqdm==4.67.0
typer==0.21.1
types-Authlib==1.6.6.20260116
types-pyserial==3.5.0.0
types-requests==2.31.0.0
types-setuptools==69.1.0.20240217
types-toml==0.10.8
types-tqdm==4.67.0.20250516
types-urllib3==1.26.25.14
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.22.0
uvloop==0.22.1
virtualenv==20.36.1
watchfiles==1.1.1
websockets==16.0
yarl==1.22.0
