# Regular dependencies
requests==2.31.0
pyserial==3.5
skyfield==1.48
fastapi[standard]==0.115.0
sqlmodel==0.0.22
loguru==0.7.3
pyham_ax25==1.0.2
tinyaes==1.1.1
pyStuffing==0.0.4
hypothesis==6.131.30

# Typed packages
types-requests==2.31.0
types-pyserial==3.5.0
types-setuptools==69.1.0.20240217

# Development dependencies
pre-commit==3.3.3
pytest==7.4.0
pytest-cov==4.1.0
mypy==1.8.0
ruff==0.2.0
