.nav img {
  height: 75px;
  margin: 0;
}

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
  width: 100%;
  overflow: hidden;
}

.navmenu {
  display: flex;
  align-items: center;
}

.navmenu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 18px;
}

.navmenu a:hover {
  color: rgb(67, 146, 196);
}
