@import "tailwindcss";

@layer base {
  body {
    overflow: hidden;
    display: flex;
    background-color: var(--color-background);
    font-family: var(--font-default);
  }

  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
