body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

.nav img {
  height: 75px;
  margin: 0;
}

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
  width: 100%;
  overflow: hidden;
}

.navmenu {
  display: flex;
  align-items: center;
}

.navmenu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 18px;
}

.navmenu a:hover {
  color: rgb(67, 146, 196);
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  height: 150px;
  width: 450px;
  background-image: url("./assets/logo.png");
}
