/* Style for the success toast */
.toast-success {
  background: black;
  opacity: 75%;
  border-color: #e6f7ec !important; /* A light green background */
  color: #f4fff4 !important; /* Dark green text */
  border: 1px solid #52c41a;
}

.toast-success .Toastify__progress-bar {
  background: #52c41a; /* Green progress bar */
}

/* Style for the error toast */
.toast-error {
  background: black;
  opacity: 75%;
  border-color: #fff1f0 !important; /* A light green background */
  color: #f4fff4 !important; /* Dark green text */
  border: 1px solid #52c41a;
}

.toast-error .Toastify__progress-bar {
  background: #f5222d; /* Red progress bar */
}

.test-button {
  margin-left:50%;
  margin-top: 50%;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.test-container {
    margin-top: 50%;
    display: flex;
    justify-content: center;
}