body {
  margin: 0;
  font-family:
    "Comic Sans MS",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background.jpg");
  background-size: 75%;
  background-repeat: repeat;
  background-color: black;
  color: white;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

img {
  height: 75px;
  margin: 0;
}

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
  width: 100%;
  overflow: hidden;
}

.navmenu {
  display: flex;
  align-items: center;
}

.navmenu a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 18px;
}

.navmenu a:hover {
  color: rgb(67, 146, 196);
}

#main-form {
  padding-top: 3%;
}

label {
  font-size: 20px;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Comic Sans MS";
}

input[type="submit"], input[type="button"] {
  font-family: "Comic Sans MS";
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #cdcdcd;
}

.pagediv {
  display: flex;
  justify-content: center;
  padding: 8% 20%;
}

.pagediv img {
  width: 50%;
  height: 50%;
}
