name: Ground Station Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup
      run: |
        sudo apt-get update
        sudo apt-get build-essential
        
    - name: Build
      run: |
        make -f ground_station/Makefile clean
        make -f ground_station/Makefile
