name: HIL Build
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-linux:
    runs-on: self-hosted

    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get -y install build-essential cmake
      - name: Create binary directory
        run: |
          mkdir build_hil
      - name: Build
        run: |
          cd build_hil
          #Seems like we need to force the cxx standard here for it to be set in actions
          cmake .. -DCMAKE_BUILD_TYPE=HIL -DCMAKE_CXX_STANDARD=20
          make
